.Admin-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Admin-controls fieldset {
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    color: white;
    min-width: 500px;
    padding: 10px;
}

.Admin-controls fieldset legend {
    text-align: left;
}