body {
    background-color: #6fbeec;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Arial';
}

.PokerControls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #f1f199;
    font-family: 'Luckiest Guy', cursive;
}

.StoryTitle textarea {
    width: 600px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #6fbeec;
    color: white;
    border: 0px solid gray;
    font-weight: 700;
}

.StoryTitle div {
    width: 600px;
    padding: 10px;
    font-size: 20px;
}

.StoryTitle textarea:focus {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    font-weight: normal;
}

.ScoreButtons {
    align-items: center;

}

.ScoreButtons button {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.ControlButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ControlButtons button {
    height: 50px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.ShowResults {
    background-color: #9ff59f;
}

.NewStory input {
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    font-weight: normal;
    border-radius: 5px;
}

.StoriesPanel {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
}

#pendingStories {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

#pendingStories .Story {
    margin: 10px;
    font-size: calc(10px + 2vmin);
}

.AddStory {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.ClearScores {
    background-color: #fb8c8c;
}

.Social-Buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.Social-Buttons div {
    padding: 5px;
}

.Social-Buttons div img {
    height: 30px;
}

.ResultsPanel {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.Score {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.Score div {
    margin-right: 10px;
}

.UsersPanel {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-height: 200px;
}

#UserList {
    font-size: 15px;
}

#UserList div {
    margin-top: 10px;
}

.UsernamePanel input {
    height: 25px;
}

.UsernamePanel button {
    height: 40px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

#joinOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#joinOptions span {
    font-size: 20px;
    padding-bottom: 10px;
}

#joinOptions input {
    height: 25px;
}

#joinOptions button {
    width: 100%;
    margin: 10px;
    padding: 16px 24px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: bottom;
    background-color: #F0AF1D;
}

.Option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 250px;
    border: 1px solid black;
}

.Option div{
    align-items: center;
    height: 100px;
}

.CreateSession
{
    background-color: #9BD5EF;
}

.JoinSession
{
    background-color: #9BD5EF;
}

.RoomIDPanel
{
    font-size: 20px;
    padding: 10px;
    color: #f1f199;
}

.RoomIDPanel input
{
    font-size: 20px;
    background-color: #6fbeec;
    color: white;
    border: 0px solid gray;
    margin: 5px;
}

.RoomIDPanel input:focus
{
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    font-weight: normal;
    margin: 5px;
}

.TabPanel
{
    width: 100%;
}

.TabPanel button
{
    height: 30px;
    width: 100px;
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgray;
}

.TabPanel .selected
{
    background-color: white;
}

.StoryDeleteButton {
    padding: 2px;
    margin-right: 5px;
    border: 1px solid white;
    background-color: red;
    color: white;
}